<div class="sec" {{ block.shopify_attributes }}>
  <div class="vet-note">
    <span class="vet-note-icon" aria-hidden="true">{{ block.settings.icon }}</span>
    <div class="vet-note-text">
      <strong>{{ block.settings.title }}</strong>
      {{ block.settings.quote }}
    </div>
  </div>
</div>
